*{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    display: flex;
    gap: 40px;
   font-weight: 400;
   font-size: 25px;
   height: 100px;
   align-items: center;
}
#heading{
   margin: 50px 280px 0 130px;
   font-size: 30px;
   font-weight: 600;
}
.p{
    margin-top: 50px;
}

.content{
    display: flex;
    
}
.hello{
  margin: 90px 0 0 130px;
  font-size: 65px;
  font-weight: 630;
}
.world{
    margin: 190px 202px 0 130px;
}
#small{
    font-size: 16px!important;
    font-weight: 470;
    margin-top: 5px;
    width: 480px;
}
.img{
    position: absolute;
    top: 131px;
    right: 195px;
}
.next{
    display: flex;
    margin-top: 70px;
    padding: 8px 0 15px 0;
    background: linear-gradient(to right,  rgb(17, 90, 236));

}
.next p{
    font-size: 60px;
    font-weight: 500;
    color: white;
    padding: 0 0 0 130px;
}
.next span{
    font-size: 15px;
    color: white;
    justify-content: center;
}
.stat{
    text-align: center;
    position: relative;
}
.stat:not(:last-child)::after {
content: "";
position: absolute;
right: -70px;
top: 10%;
height: 80%;
width: 1px;
background-color: white;
}

.b1,.b2{
    padding:  5px 25px 10px 25px;
    font-size: 25px;
    border-radius: 200px;
    border: 2px solid rgb(17, 90, 236);
}
.b{
    display: flex;
    gap: 30px;
    margin: 50px 130px 0 170px;
    color: rgb(17, 90, 236);
}
.b2{
    background-color: rgb(17, 90, 236);
    color: white;
}
.searchbar{
    margin-bottom: 84px;
    margin-left: 127px;
    display: flex;
    gap: 100px;
    font-size: 20px;
    width: 600px;
    padding: 10px 0px 10px 30px;
    border-radius: 180px;
    align-items: center;
}
span{
    display: flex;
    gap: 10px;
    align-items: center;
}




.page2{
  background-color: rgb(255, 255, 255);
  margin-top: 200px;
  margin-left: 130px;
}
.page2 p{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
}
.cards{
    margin-right: 130px;
    display: flex;
    gap: 20px;
    
}
.cards h2{
    margin-bottom: 20px;
    margin-top: 10px;
}
.card{
    font-weight: 500;
    border: 3px solid black;
    border-radius: 20px;
    padding: 30px 20px 30px 20px;
    width: 400px;
}
#card2{
    color: white;
    border: 3px solid rgb(17, 90, 236);
    background-color: rgb(17, 90, 236);
}
.part2{
    display: flex;
    margin-top: 100px;
   gap: 100px;
}





